
/* ch1 start */
#area2 {
    height: 1200vh;
    display: flex;
}

    #area2 .left-col, #area2 .right-col{
        width: 45%;
        margin-left: 10px
    }

        #ch1-video-control{
            position: sticky;
            height: 50vh;
            top: 200px;
            align-items: center;
        }

            #ch1-video{
                min-width: 100%;
                min-height: 80%;
                width: 50%;
                z-index: 3;
            }

        #ch1-supplement{
            position: fixed;
            height: 50vh;
            top: 160px;
            right: 100px;
            align-items: center;
            margin: auto;
            z-index: 40;
        }
            #ch1-supplement img{
                height: 45vh;
                width: 47vw;
            }

            #ch1-supplement .ch1-text{
                padding: 10px
            }

/* ch2 start */
#area4 {
    min-height: 1200px;
    height: 95vh
}

    #ch2-bg{
        background-image: url('../materials/ch2_mod.gif');
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        width: 105vw;
        overflow-x: hidden;
        z-index: 6;
        top: 200px;
        position: sticky;

    }
        .law-container{
            position: static;
            display: flex;
            width: 70vw;
            margin: 5px auto;
        }

        .law-container.law-pos1{
            position: relative;
            left: 10vw;
            margin-top: 15vh;
        }

        .law-container.law-pos2{
            margin-top: 10vh;
        }

            .rocksize1 img{
                width: 16vw;  /*30vw 400px*/
                height: 22vh; /*40vh 350px*/
                z-index: 2
            }

            .rocksize1 .law-text{
                width: 35vw;
                padding: 5vh;
                align-self: center;
                position: relative;
                top: -3vh
            }
        

        .law-container.law-pos3{
            position: relative;
            left: -13vw;
            /*top: -60vh*/
        }

        .law-container.law-pos4{
            position: relative;
            left: 10vw;
            margin-top: -20vh;
            /*top: -80vh*/
        }

            .rocksize2 img{
                width: 50vw;  /*30vw*/
                height: 60vh; /*40vh*/
                z-index: 3;
            }

            .rocksize2 .law-text{
                width: 175vw;
                padding: 5vh;
                align-self: center;
            }

            .rocksize3 img{
                width: 40vw;  /*30vw*/
                height: 80vh; /*40vh*/
                z-index: 4;
            }

        .law-container.law-pos5{
            position: relative;
            left: 0vw;
            margin-top: -40vh;
            /* top: -120vh*/
        }

            .rocksize3 .law-text{
                width: 175vw;
                padding: 5vh;
                align-self: center;
                position: relative;
                top: 10vh
            }           
/* ch2 end */

#area6 iframe{
    margin: 0 auto;
    display: block;
}

/* ch4 start */

.interview{
    width: 85%;
    z-index: 20;
    margin: 20% auto
}

.interview-man, .interview-text {
    width: 50%
}

.interview-man img{
    width: 490px;
    height: 350px
}

.interview-text{
    color:rgba(14, 1, 1, 0.962)
}

.slideshow-container{
    display: flex;
    width: 90%;
    margin: auto
}
.slideshow img {
    width: 98%;
    height: 30vh;
}

#area8 .slides{
    height: 75%;
}

/* footer */
#area9{
    background-color: #ceeafc;
    margin: auto;
    font-size: 1.2rem;
}

.text-block{
    box-sizing: border-box;
    width: 80%;
    height: 40%;
    margin: auto;
    padding: 2%
}

.text-block .mt20{
    margin: 20px
}