/* general */
#title{
    font-family: source-han-serif-tc, serif;
}
.hide{
    display: none;
}

.flex{
    display: flex;
}

.chapter-title h1{
    height: 10vh;
    width: 110%;
    background-color: white;
    padding: 15%;
    color: #4cbbe3
}


/* reading status aka progress bar */

#fix-progress{
    background-color: white;
    width:100%;
    min-height: 75px;
    position:fixed;
}

#fix-progress img{
    width: 5vw;
    height: 5vh;
}

.status-container{
    width: 100%;
    margin-top: 15px;
}

/* Cover */
#cover{
    background-image: url('../materials/cover_mod.gif');
    background-size:cover;
    background-attachment: fixed;
    height:100vh;
}

#title {
    color:white;
    padding: 25%
}

#title h2{
    font-size: 5rem;
}

#title h3{
    font-size: 2.75rem;
}

#cover h2, #cover h3{
    color: rgba(255, 245, 245, 0.962)
}

/* Cover end*/

/* ch1 start */
#ch1-video{
    min-width: 100%;
    min-height: 50%;
    width: 50%;
    z-index: 3;
}

#area2{
    display: flex;
}

#area2 .left-col, #area2 .right-col{
    width: 45%;
    margin-left: 10px
}

#ch1-video-control.pos-ab{
    display: flex;
    position: absolute;
    top: 20px;
    align-items: center;
}

/* ch2 start */
#ch2-bg{
    background-image: url('../materials/ch2_mod.gif');
    background-size:cover;
    background-attachment: fixed;
    height:100vh;
    width: 100vw;
}

.law-container1{
    display: flex;
    float: left;
    width: 50%;
    margin-left: 20%;
    margin-top: 5%
}

.law-container1 img{
    width: 50%;
    height: 55%;
}

.law-container2{
    display: flex;
    float: right;
    width: 45%;
    margin-top: 5%;
    margin-left: 60%;
}

.law-container2 img{
    width: 30%;
    height: 35%;
}

.law-container3{
    display: flex;
    float: left;
    width: 45%;
    margin-top: 5%;
    margin-left: 40%;
}

.law-container3 img{
    width: 30%;
    height: 35%;
}

.law-text{
    box-sizing: border-box;
    padding: 15px;
}
/* ch2 end */

/* ch4 start */

.interview{
    width: 85%;
    z-index: 20;
    margin: 20% auto
}

.interview-man, .interview-text {
    width: 50%
}

.interview-man img{
    width: 85%;
    height: 50vh
}

.interview-text{
    color:rgba(14, 1, 1, 0.962)
}

.slideshow-container{
    display: flex;
    width: 90%;
    margin: auto
}
.slideshow img {
    width: 98%;
    height: 30vh;
}

/* footer */
#area9{
    background-color: rgb(230, 233, 248);
    margin: 200px auto;
    font-size: 1.75rem;
}

.text-block{
    box-sizing: border-box;
    width: 70%;
    height: 40%;
    margin: auto;
    padding: 15%
}
