/* general */
#title{
    font-family: source-han-serif-tc, serif;
}

.hide{
    display: none;
}

.flex{
    display: flex;
}

.chapter-title-container{
    height: 10vh;
    width: 100%;
    background-color: white;
    padding: 15%;
    color: #4cbbe3;
    z-index: 2;
}

.chapter-title{
    margin: 0 auto;
    text-align: center;
}

.chapter-title h1{
    background-color: white;
    color: #4cbbe3
}

.trans{
    background-image: url('../materials/0-2_trans.jpg');
    background-size:cover;
    background-attachment: fixed;
    height:100vh;
}

.trans-text{
    width: 85%;
    margin: 0 auto;
    padding: 10%;
    font-size: 2rem;
    vertical-align: middle;
}

#ch2-intro .trans-text{
    position: relative;
    left: 15%
}

.trans-text .pt5{
    padding-top: 20px;
}
/* reading status aka progress bar start*/
#fix-progress{
    background-color: white;
    width:100%;
    min-height: 75px;
    position:fixed;
    z-index: 666;
}

#fix-progress img{
    width: 5vw;
    height: 5vh;
}

.status-container{
    width: 100%;
    margin-top: 15px;
}
/* reading status aka progress bar end*/

/* Cover */
#cover{
    background-image: url('../materials/0-1_cover_v3.gif');
    background-size:cover;
    background-attachment: fixed;
    height:100vh;
}

#title {
    color:white;
    padding: 25%
}

#title h2{
    font-size: 5rem;
}

#title h3{
    font-size: 2.75rem;
}

#cover h2, #cover h3{
    color: rgba(255, 245, 245, 0.962)
}
/* Cover end*/

/* article intro */
#article-intro{
    width: 100%;
    margin-top: 150px;
    align-self: center;
    font-size: 1.5rem;
}

#article-intro .pt15{
    width: 80%;
    padding-top: 35px;
    margin: 0 auto;
}