body {
    background: #00324E;
    color: #333;
    font-family: Arial, sans-serif;
    /* user-select: none; */
}

.header{
    width: 100%;
    height: 75px;
    left: 0px;
    top: 0px;
    position: fixed;
    background: #006AA6;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.20);
}
    .header .board-name{
        color: white;
        font-size: 26px;
        position: absolute;
        height: 120px;
        top: 15px;
        left: 250px;
        font-family: Roboto;
        font-weight: 600;
        word-wrap: break-word;
    }
    .header .logo img{
        position: absolute;
        height: 120px;
        top: -20px;
        left: 10px
    }

    .header .info img{
        position: absolute;
        width: 45px;
        top: 15px;
        right: 80px;
    }

    .header .setting img{
        position: absolute;
        width: 35px;
        top: 18px;
        right: 25px
    }

    .sidebar{
        justify-self: start;
    }
    
    .sidebar img{
        width: 180px;
        height:185px;
        position: relative;
        margin-top: 150px;
        display: none;
    }
    
.main{
    display: grid;
    margin-top: 110px;
}

.post-container{
    justify-self: center;
    width: 60%;
    height: auto;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 5px;
    display: grid;
    min-width: 740px;
}

    .post-profile{
        display: flex;
        margin-bottom: 20px;
    }

    .post-profile .name{
        margin: 10px 20px;
    }

    .post-profile .name .id{
        color: #979797c7;
    }

    .post-profile .avatar img{
        width: 55px;
        height: 55px;
    }

    .post-container .post-content{
        padding: 10px 40px;
        font-weight: 400;
    }

    .post-content .p_title{
        font-size: 24px;
    }

    .post-content .post-metadata{
        margin-top: 20px;
        display: inline-block;
    }

    .post-content .post-metadata .link{
        color:#006AA6
    }

    .post-content .post-metadata .date{
        margin-left: 10px;
        color: #979797c7;
    }

    .post-text img{
        margin-top: 15px;
        margin-left: -20px;
        width: 695px
    }

    .post-content .p{
        font-size: 18px;
        margin-top: 15px;
        line-height: 1.1 em;
    }

    .tag-cloud{
        margin: 30px 0px;
        /* padding: 0px 20px; */
    }

    .tag{
        border-radius: 12px;
        border: 1px solid #ddd;
        padding: 0.5rem;
        color: #666;
        box-shadow: inset 0 0 0.25rem #ddd;
        margin-left: 3px;
    }

    .post-content hr{
        margin: 20px 0px 0px 0px;
        color: #666;
    }

    .input{
        margin: 0px 0px 50px 0px;
        padding: 10px 0px 10px 15px;
        display: grid;
    }

    .input #submitButton{
        grid-area: inherit;
        position: relative;
        left: 40%;
        top: 10px
    }

    #messageList{
        justify-self: center;
        width: 90%;
        height: auto;
        padding: 0px 20px;
        background: #FFFFFF;
        border-radius: 5px;
    }

    .reply-container{
        padding: 5px 5px
    }

    .reply-content{
        font-size: 16px;
        margin: 10px 0px 20px 0px;
        line-height: 1.5em;
    }

    .reply-metadata .seq{
        margin-right: 20px
    }


    #messageInput{
        width: 93%;
        height: 300px;
        margin: 0 auto;
        min-height: 100px;
        resize: none;
        border-radius: 8px;
        border: 1px solid #ddd;
        padding: 0.5rem;
        color: #666;
        box-shadow: inset 0 0 0.25rem #ddd;
        &:focus {
            outline: none;
            border: 1px solid darken(#ddd, 5%);
            box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
        }
        &[placeholder] { 
            font-size: 0.875rem;
        }
    }

    #submitButton{
        align-items: center;
        background-color: #0A66C2;
        border: 0;
        border-radius: 10px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        justify-content: center;
        line-height: 20px;
        max-width: 120px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        /* user-select: none; */
        /* -webkit-user-select: none; */
        vertical-align: middle;
    }

    #submitButton:hover,
    #submitButton:focus { 
    background-color: #16437E;
    color: #ffffff;
    }

    #submitButton:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
    }

    #submitButton:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
    }

    #clearButton{
        align-items: center;
        background-color: #c67b12;
        border: 0;
        border-radius: 10px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        justify-content: center;
        line-height: 20px;
        max-width: 120px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        /* user-select: none;
        -webkit-user-select: none; */
        vertical-align: middle;
        display: none;
    }

    #count{
        grid-area: inherit;
        position: relative;
        right: -670px;
        top: 10px;
        width: 100px;
    }