/* global setting */
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}

body {
    background-color: #a4d9f0b4;
}

.hide {
    opacity: 0;
}

.hide {
    display: none;
}

a {
    color: rgb(7, 91, 175);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* loading */
#loading-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #99e0ff;
    z-index: 9999;
    align-items: center;
    display: grid;
}

.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
}


/* font & title */
@media (min-width: 768px) {
    body {
        max-width: 100%;
        margin: auto;
        font-family: 'Noto Sans TC';
        letter-spacing: 0.18rem;
        font-size: 20px;
        line-height: 1.7;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 66px;
    }

    h3 {
        font-size: 28px;
        letter-spacing: 0.15rem;
    }

    .img-caption{
        font-size: 16px;
        letter-spacing: 0.1rem;
    }

    #title H1 {
        font-size: 70px;
        font-weight: 500;
        letter-spacing: 0.05rem;
    }

    #title H2 {
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.05rem;
    }

    .trans-section h2 {
        letter-spacing: 2.5rem;
        color: rgb(23, 76, 79);
        font-weight: 900;
    }

    .title-w {
        background-size: contain;
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
    }

    #Title1 .title-w {
        /* background-image: url('../materials/HeadlineTitle1.png'); */
        background-image: url('../materials/cleanTBG1.png');
    }

    #Title2 .title-w {
        /* background-image: url('../materials/HeadlineTitle2.png'); */
        background-image: url('../materials/cleanTBG2.png');
    }

    #Title3 .title-w {
        /* background-image: url('../materials/HeadlineTitle3.png'); */
        background-image: url('../materials/cleanTBG3.png');
    }

    #Title4 .title-w {
        /* background-image: url('../materials/HeadlineTitle4.png'); */
        background-image: url('../materials/cleanTBG4.png');
    }

    #Title5 .title-w {
        /* background-image: url('../materials/HeadlineTitle5.png'); */
        background-image: url('../materials/cleanTBG5.png');
    }

    #Title1 .trans-section {
        position: relative;
    }

    #Title1 .title-w h2 {
        position: absolute;
        top: 11%;
        left: 4%
    }

    #Title2 .title-w h2 {
        position: absolute;
        top: 11%;
        right: 4%
    }

    #Title3 .title-w h2 {
        position: absolute;
        top: 15%;
        right: 4%
    }

    #Title4 .title-w h2 {
        position: absolute;
        top: 10%;
        left: 5%
    }

    #Title5 .title-w h2 {
        position: absolute;
        top: 11%;
        left: 4%
    }

    /* h3 */
    .arg-point .title-s,
    .opinion .title-s{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arg-point .title-s{
        margin: 10px auto -20px auto;
    }

    .arg-point .title-s h3,
    .opinion .title-s h3{
        margin-left: 15px;
    }

    .arg-point .title-s .icon {
        height: 50px;
        width: auto;
    }

    .opinion .title-s .icon {
        width: 70px;
        height: auto;
    }


}

@media (max-width: 450px) {
    body {
        max-width: 90%;
        margin: auto;
        font-family: 'Noto Sans TC';
        letter-spacing: 0.08em;
        font-size: 20px;
        line-height: 1.8;
    }
}


/* trans-section */
@media (min-width: 760px) {
    .trans-section {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .trans-section .svg {
        position: absolute;
        height: auto;
        animation: shipFloat 3.8s linear infinite;
    }

    #Title1.trans-section .svg {
        width: 12%;
        left: 50%;
        top: 50%;
    }

    #Title2.trans-section .svg {
        width: 10%;
        left: 40%;
        top: 55%;
    }

    #Title3.trans-section .svg {
        width: 12%;
        left: 50%;
        top: 50%;
    }

    #Title4.trans-section .svg {
        width: 12%;
        left: 50%;
        top: 50%;
    }

    #Title5.trans-section .svg {
        width: 15%;
        left: 35%;
        top: 40%;
    }

}

@media (max-width: 450px) {
    .trans-section {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .trans-section {
        background-size: cover;
        background-position: left 40%;
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
    }

    .trans-section .svg {
        position: absolute;
        height: auto;
        animation: shipFloat 3.8s linear infinite;
    }

    #Title1 .trans-section .svg {
        width: 12%;
        left: 50%;
        top: 50%;
    }

    #Title2 .trans-section .svg {
        width: 10%;
        left: 40%;
        top: 55%;
    }

    #Title3 .trans-section .svg {
        width: 12%;
        left: 50%;
        top: 50%;
    }

    #Title4 .trans-section .svg {
        width: 12%;
        left: 50%;
        top: 50%;
    }

    #Title5 .trans-section .svg {
        width: 15%;
        left: 35%;
        top: 50%;
    }

}

@keyframes shipFloat {
    0% {
        transform: translateY(0) rotate(0);
    }

    25% {
        transform: translateY(0) rotate(3deg);
    }

    40% {
        transform: translateY(2px) rotate(3deg);
    }

    85% {
        transform: translateY(0px) rotate(5deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}


/* Cover */
@media (min-width: 760px) {
    #cover {
        background-image: url('../materials/cover.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        position: relative;
        background-repeat: no-repeat;
    }

    #title {
        position: absolute;
        background-color: aliceblue;
        opacity: 0.75;
        padding: 20px 47px;
        width: 55%;
        top: 25%;
        left: 30px
    }

    .cover-figure.f1 {
        position: absolute;
        width: 17%;
        height: 25%;
        top: 45%;
        left: 48%;
        z-index: 3
    }

    .cover-figure.f2 {
        position: absolute;
        width: 16%;
        height: 22%;
        top: 41%;
        right: 15%;
        z-index: 3;
        transform-origin: center center;
        transform: rotate(5deg)
    }

    .cover-figure.f3 {
        position: absolute;
        width: 13%;
        height: 20%;
        top: 30%;
        right: 2%;
        z-index: 3
    }

}

@media (max-width: 450px) {
    #cover {
        background-image: url('../materials/cover.png');
        background-size: cover;
        background-position: center;
        width: auto;
        height: 115vh;
        position: relative;
        top: -5vh;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #title {
        position: absolute;
        background-color: aliceblue;
        opacity: 0.75;
        padding: 20px 47px;
        width: 55%;
        top: 20%;
        left: 30px
    }

    #title H1 {
        font-size: 35px;
        font-weight: bold;
    }

    #title H2 {
        font-size: 24px;
    }

    .cover-figure.f1 {
        position: absolute;
        width: 50%;
        height: auto;
        top: 42%;
        right: 2%;
        z-index: 3;
        transform-origin: center center;
        transform: rotate(5deg)
    }

    .cover-figure.f2 {
        position: absolute;
        width: 60%;
        height: auto;
        top: 60%;
        left: 18%;
        z-index: 3
    }

    .m-hide {
        display: none;
    }

}

/* layout */
/* article-section layout */
main {
    display: grid;
    grid-gap: 5vh; /* title - article*/
}

main .article-section.hor-grid {
    min-height: 70vh;
    padding: 20px 25px;
}

main .trans-section.hor-grid {
    min-height: 100vh;
}

.article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.m50{
    margin: 35px auto !important
}

.am30{
    margin: 5px auto !important;
    padding: 10px 20px !important
}

.mt-30{
    margin-top: 30px !important;
}

.mb-30{
    margin-bottom: 30px !important;
}

/* article-section article */
@media (min-width: 760px) {
    .article-section article,
    .open-section article {
        width: 66%;
        padding: 20px 30px;
        margin: 0 auto;
        flex-shrink: inherit;
        flex-grow: auto;
        justify-content: center;
        /* background-color: aqua; */
    }

    #S3.article-section .arg-point article {
        margin: 0 auto;
    }

    .article-section .arg-point {
        margin: 40px auto;
        width: 75%;
        background-color: aliceblue;
        opacity: 0.65;
    }

    .article-section .arg-point article {
        padding: 20px 10px;
        width: 80%;
        /* background-color: aquamarine; */
    }

    #End{
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media (max-width: 450px) {
    .article-section article,
    .open-section article {
        width: 65%;
        margin: 0 auto;
        flex-shrink: inherit;
        flex-grow: auto;
        justify-content: center;
    }

    #S3.article-section .arg-point article {
        margin: 0 auto;
    }

    .article-section .arg-point {
        margin: 40px auto;
        width: 75%;
        background-color: aliceblue;
        opacity: 0.65;
    }

    .article-section .arg-point article {
        padding: 20px 10px;
        width: 80%;
        /* background-color: aquamarine; */
    }

    .article-section .arg-point .title-s {
        width: 70%;
        margin: 25px auto -20px auto;
        justify-content: center;
    }
}

/* article-section image */
@media (min-width: 760px) {
    .article-section .title img {
        width: 55vw;
        margin: 0 auto;
    }

    .article-section .figure {
        display: flex;
        flex-direction: column;
    }

    .article-section .figure img {
        width: 55%;
        height: auto;
        margin: 0 auto;
        flex-shrink: inherit;
        flex-grow: auto;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .article-section .img-caption,
    .open-section .img-caption {
        max-width: 80%;
        margin: 5px auto;
        display: block;
        justify-content: center;
    }

    .open-section .img-caption {
        max-width: 150px;
    }

    .article-section .opinion .img-caption {
        margin: 10px auto;
    }
}

@media (max-width: 450px) {
    .article-section .title img {
        margin: 0 auto;
        width: 60vw;
    }

    .article-section .figure img {
        width: 75vw;
        margin: 0 auto;
        /* margin-top: 15px; */
        flex-shrink: inherit;
        flex-grow: auto;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .article-section .img-caption {
        width: 75vw;
        margin: 2px auto;
        flex-shrink: inherit;
        flex-grow: auto;
        display: block;
        justify-content: center;
        align-items: center;
    }
}


/* opening */
#showAns:hover {
    background-color: rgba(0, 123, 255, 1);
}

#showAns:active {
    background-color: rgba(0, 123, 255, 1);
}

@media (min-width: 760px) {
    .flip-container {
        display: flex;
        margin: 40px auto 20px auto;
    }

    .flip-container .card {
        flex: 1;
        position: relative;
    }

    .flip-container .card img {
        width: 95%;
        height: auto;
        flex-shrink: inherit;
        flex-grow: auto;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
    }

    .card .ans {
        background-color: #e6e9ecdc;
        opacity: 0.8;
        width: auto;
        height: 10vh;
        position: absolute;
        top: 30%;
        left: 28%;
        font-size: 24px;
        padding: 20px 40px;
        align-items: center;
        margin: 0 auto;
    }

    #showAns {
        display: block;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        background-color: rgba(0, 123, 255, 0.7);
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 auto;
    }

}

@media (max-width: 450px) {
    .flip-container {
        display: flex;
        margin: 40px auto 10px auto;
        width: 90%;
        flex-direction: column;
    }

    .flip-container .card {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flip-container .card img {
        width: 75%;
        height: auto;
        flex-shrink: inherit;
        flex-grow: auto;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 5px auto;
    }

    .flip-container .card .img-caption {
        margin: 0 auto
    }

    .card .ans {
        background-color: #e6e9ecdc;
        opacity: 0.8;
        width: auto;
        height: 10vh;
        position: absolute;
        top: 15%;
        left: 20%;
        font-size: 20px;
        padding: 10px 15px;
        align-items: center;
        margin: 0px auto;
    }

    #showAns {
        display: block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        background-color: rgba(0, 123, 255, 0.7);
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 15px auto;
    }
}


/* interactive map */
@media (min-width: 760px) {
    #interact-map {
        display: flex;
        width: 70%;
        height: auto;
        margin: 0 auto;
        flex-direction: column;
    }

    #interact-map #map {
        width: 80%;
        height: auto;
        flex: 5;
    }

    #interact-map #map-supplement {
        display: flex;
        margin: 20px auto;
        flex: 1;
    }
}

@media (max-width: 450px) {
    #interact-map {
        display: flex;
        width: 70%;
        height: auto;
        margin: 0 auto;
        flex-direction: column;
    }

    #interact-map #map {
        width: 60%;
        height: auto;
        flex: 5;
    }

    #interact-map #map-supplement {
        display: flex;
        margin: 10px auto;
        flex: 1;
    }
}


/* law */
@media (min-width: 760px) {
    .share-pdf {
        /* margin-top: 50px; */
        width: 40%;
        height: auto;
    }

    .share-pdf a {
        opacity: 0;
    }
}

@media (max-width: 450px) {
    .share-pdf {
        /* margin-top: 50px; */
        width: 65%;
        height: auto;
    }

    .share-pdf a {
        opacity: 0;
    }
}


/* video */
@media (min-width: 760px) {
    #video-view {
        position: relative;
        margin: 0 auto;
        overflow: scroll;
        height: 500vh;
    }

    .break {
        height: 40vh;
        width: 400px;
        opacity: 0;
    }

    .video-wrapper.sticky {
        width: 80vw;
        margin: 0 auto;
        position: fixed;
        top: 100px;
        left: 3%;
        right: 3%;
        scale: 1.2;
        transition: transform 0.5s ease;

    }

    #video2 {
        width: 80vw;
        margin: 0 auto;
        flex-shrink: inherit;
        flex-grow: auto;
        display: block;
        opacity: 1;
    }

    #video-view .text-wrapper {
        display: flex;
    }

    #video-view .v2-text1.show-slowly {
        opacity: 1;
        transition: opacity 0.5s;
        position: fixed;
        z-index: 2;
        background-color: rgba(232, 236, 236, 0.8);
        width: 20%;
        padding: 10px 15px;
        right: 18%;
        top: 48%;
    }


    #video-view .v2-text2.show-slowly {
        opacity: 1;
        transition: opacity 0.5s;
        background-color: rgba(232, 236, 236, 0.8);
        position: fixed;
        z-index: 2;
        width: 32%;
        padding: 20px 18px;
        left: 12%;
        top: 30%
    }

    #video-view .v2-text3.show-slowly {
        opacity: 1;
        transition: opacity 0.5s;
        z-index: 2;
        background-color: rgba(232, 236, 236, 0.8);
        position: fixed;
        width: 28%;
        padding: 10px 15px;
        left: 14%;
        top: 30%
    }

    #video-view .v2-text4.show-slowly {
        opacity: 1;
        transition: opacity 0.5s;
        z-index: 2;
        background-color: rgba(232, 236, 236, 0.8);
        position: fixed;
        width: 30%;
        padding: 10px 15px;
        right: 16%;
        top: 52%
    }

    #video-view .v2-text5.show-slowly {
        opacity: 1;
        transition: opacity 0.5s;
        z-index: 2;
        background-color: rgba(232, 236, 236, 0.8);
        position: fixed;
        width: 35%;
        padding: 10px 15px;
        left: 20%;
        top: 30%
    }

    #video-view .v2-text6.show-slowly {
        opacity: 1;
        transition: opacity 0.5s;
        z-index: 2;
        background-color: rgba(232, 236, 236, 0.8);
        position: fixed;
        width: 38%;
        padding: 10px 12px;
        left: 12%;
        top: 62%
    }

    #video-view .v2-text7.show-slowly {
        opacity: 1;
        transition: opacity 0.5s;
        z-index: 2;
        background-color: rgba(232, 236, 236, 0.8);
        position: fixed;
        width: 33%;
        padding: 10px 15px;
        right: 12%;
        top: 24%
    }

    #video-view .v2-text8.show-slowly {
        opacity: 1;
        transition: opacity 0.5s;
        z-index: 2;
        background-color: rgba(232, 236, 236, 0.8);
        position: fixed;
        width: 35%;
        padding: 10px 15px;
        right: 12%;
        top: 45%
    }

    #video-view .v2-text1.hide,
    #video-view .v2-text2.hide,
    #video-view .v2-text3.hide,
    #video-view .v2-text4.hide,
    #video-view .v2-text5.hide,
    #video-view .v2-text6.hide,
    #video-view .v2-text7.hide,
    #video-view .v2-text8.hide {
        opacity: 0;
    }
}

@media (max-width: 450px) {
    #video2 {
        width: 80vw;
        margin: 2px auto;
        flex-shrink: inherit;
        flex-grow: auto;
        display: block;
    }

    #video-view {
        position: relative;
        margin: 0 auto;
        overflow: scroll;
        height: 300vh;
    }

    .break {
        height: 30vh;
        width: 400px;
        opacity: 0;
    }

    .video-wrapper.sticky {
        width: 40vw;
        margin: 0 auto;
        position: fixed;
        top: 25%;
        left: 15%;
    }

    #video2 {
        width: 80vw;
        margin: 0 auto;
        flex-shrink: inherit;
        flex-grow: auto;
        display: block;
        opacity: 0.3;
    }

    #video-view .show-slowly {
        width: 60%;
        margin: 25px auto
    }

    #video-view .v2-text1.hide.show-slowly,
    #video-view .v2-text2.hide.show-slowly,
    #video-view .v2-text3.hide.show-slowly,
    #video-view .v2-text4.hide.show-slowly,
    #video-view .v2-text5.hide.show-slowly,
    #video-view .v2-text6.hide.show-slowly,
    #video-view .v2-text7.hide.show-slowly,
    #video-view .v2-text8.hide.show-slowly {
        opacity: 1;
        transition: opacity 0.5s;
        ;
    }

    #video-view .v2-text1.hide,
    #video-view .v2-text2.hide,
    #video-view .v2-text3.hide,
    #video-view .v2-text4.hide,
    #video-view .v2-text5.hide,
    #video-view .v2-text6.hide,
    #video-view .v2-text7.hide,
    #video-view .v2-text8.hide {
        opacity: 0;
    }
}


/* opinion */
@media (min-width: 760px) {
    .perspective {
        display: flex;
        width: 70%;
        height: auto;
        margin: 30px auto;
        padding: 20px 30px;
        font-size: 18px;
        background-color: aliceblue;
        opacity: 0.8;
    }

    .opinion {
        display: flex;
        flex-direction: column;
    }

    .perspective.opinion-left .left-col,
    .perspective.opinion-right .right-col {
        flex: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
    }

    .perspective.opinion-left .right-col,
    .perspective.opinion-right .left-col {
        flex: 4;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 10px 5px;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }

    .perspective.opinion-left .left-col .figure {
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        position: relative;
    }

    .perspective.opinion-right .right-col .figure {

        position: relative;
    }

    .perspective.opinion-left .left-col .figure-img {
        height: auto;
        width: 70%;
        align-items: center;
    }

    .perspective.opinion-right .right-col .figure-img {
        height: auto;
        width: 70%;
        align-items: center;
        scale: 1.5
    }

    .perspective.opinion-left .right-col article,
    .perspective.opinion-right .left-col article {
        flex: 1;
        height: auto;
        width: 90%;
        justify-content: center;
        margin: 15px auto;
        padding: 10px 5px;
    }

}

@media (max-width: 450px) {
    .perspective {
        display: flex;
        width: 70%;
        height: auto;
        margin: 30px auto;
        font-size: 18px;
        background-color: aliceblue;
    }

    .opinion {
        display: flex;
        flex-direction: column;
    }

    .opinion .title-s,
    .arg-point .title-s {
        display: flex;
        padding: 10px 15px;
        margin: 20px auto;
        align-items: center;
        justify-content: center;
    }

    .arg-point .title-s .icon {
        height: 50px;
        width: auto;
    }

    .opinion .title-s .icon {
        width: 70px;
        height: auto;
    }

    .opinion .title-s h3,
    .arg-point .title-s h3 {
        margin-left: 15px;
    }

    .perspective.opinion-left .left-col,
    .perspective.opinion-right .right-col {
        flex: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

    .perspective.opinion-left .right-col,
    .perspective.opinion-right .left-col {
        flex: 4;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 10px 5px;
        margin: 10px auto;
    }

    .perspective.opinion-left .left-col .figure {
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        position: relative;
        top: -5%;
        left: 2%;
    }

    .perspective.opinion-right .right-col .figure {
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .perspective.opinion-left .left-col .figure-img {
        height: auto;
        width: 70%;
        align-items: center;
    }

    .perspective.opinion-right .right-col .figure-img {
        height: auto;
        width: 70%;
        align-items: center;
        scale: 1.5
    }

    .perspective.opinion-left .right-col article,
    .perspective.opinion-right .left-col article {
        flex: 1;
        height: auto;
        width: 90%;
        justify-content: center;
        margin: 15px auto;
        padding: 10px 5px;
    }

}

/* footer */
footer {
    display: grid;
    background-color: #1c5d93;
    /* margin-top: 150px; */
    padding: 5% 10%;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
}

footer .credit {
    width: 80%;
    margin: 10px auto;
    padding: 10px 15px;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
    display: grid;
}

footer .title-t {
    margin: 20px auto 10px auto;
    display: flex;
}

footer .name {
    margin: 0 auto;
    display: flex;
}

footer .name span {
    margin: 3px 5px
}